.root {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 34px;
}

.contract {
  display: flex;
  align-items: center;
  gap: 10px;

  @include respond(laptop1024) {
    img {
      width: 14px;
      height: 14px;
    }
  }
}

.socials {
  @include respond(laptop1024) {
    display: none !important;
  }
}
