// Media Queries Mixins
@mixin respond($breakpoint) {
  @if $breakpoint == laptopXL {
    @media only screen and (width <= 1440px) {
      @content;
    }
  }

  @if $breakpoint == laptop1200 {
    @media only screen and (width <= 1290px) {
      @content;
    }
  }

  @if $breakpoint == laptopL {
    @media only screen and (width <= 1024px) {
      @content;
    }
  }

  @if $breakpoint == laptopM {
    @media only screen and (width <= 838px) {
      @content;
    }
  }

  @if $breakpoint == laptop {
    @media only screen and (width <= 824px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (width <= 768px) {
      @content;
    }
  }

  @if $breakpoint == tabletS {
    @media only screen and (width <= 640px) {
      @content;
    }
  }

  @if $breakpoint == tabletL {
    @media only screen and (width <= 540px) {
      @content;
    }
  }

  @if $breakpoint == mobileL {
    @media only screen and (width <= 430px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (width <= 375px) {
      @content;
    }
  }
}

// Smooth Transition
@mixin transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@mixin noScrollBar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

//FONTS
@mixin inter_900_54 {
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

@mixin inter_700_144 {
  font-size: 144px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin inter_800_24 {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

@mixin inter_800_22 {
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
